<!DOCTYPE html>
<html>
<head>
    <link href="css/site.css" rel="stylesheet" /> <!-- Ensure this path is correct -->
    <link href="_content/Syncfusion.Blazor/styles/bootstrap5.css" rel="stylesheet" /> <!-- Syncfusion styles -->
    <script src="_content/Syncfusion.Blazor/scripts/syncfusion-blazor.min.js"></script>
</head>
<body>
<script src="_framework/blazor.server.js"></script>
    <script src="_content/Syncfusion.Blazor.Core/scripts/syncfusion-blazor.min.js"></script>


    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>
</body>
</html>
